body {
	background-color: #020044;
}
body#application-battle {
//	background: url(../img/backgrounds/background1.gif)  no-repeat;
//	background-size: 1525px 1080px;
	#battle-fight {
		width: 1466px;
		height: 1080px;
		background-size: cover;
		background-repeat: no-repeat;
		&.background-1 {
			background-image: url(../img/backgrounds/1.gif);
		}
		&.background-2 {
			background-image: url(../img/backgrounds/2.gif);
		}
		&.background-3 {
			background-image: url(../img/backgrounds/3.gif);
		}
		&.background-4 {
			background-image: url(../img/backgrounds/4.gif);
		}
		&.background-5 {
			background-image: url(../img/backgrounds/5.gif);
		}
		&.background-6 {
			background-image: url(../img/backgrounds/6.gif);
		}
	}
	#statusbars{
		width: 1200px;
		margin: 75px auto 0 auto;
	}
	#versus{
		width: 150px;
	}
	#versus img{
		width: 100px;
		height: 100px;
		position: relative;
		top: -30px;
	}
	.fighter-name{
		font-size: 18pt;
		color: #fff;
		text-shadow: 4px 4px #333;
	}
	.energy-bar{
		height: 50px;
		margin: auto;
		border: solid;
		background-color: #F00;
	}
	.energy-bar-block{
		background-color: #0F0;
		display: inline-block;
		margin-right: -15px;
		height: 44px;
		width: 94px;
	}
	#fight img{
		padding-top: 100px;
		display:block;
    margin:auto;
    visibility: hidden;
    animation-name: fightFade;
    animation-duration: 2s;
	}

	@keyframes fightFade {
		0%, 100%{
			opacity: 0;
	    	visibility: hidden;
		}
		50%{opacity: 1;
	    	visibility: visible;}
	}

	#subject {
		height: 300px;
		.round {
			.round-number {
				font-size: 30px;
				color: #f30;
				text-shadow: 4px 4px #fff;
			}
			.subject-title {
				position: relative;
				top: 20px;
				font-size: 50px;
				color: #f30;
				text-shadow: 4px 4px #fff;
			}
		}
		.winner-name {
			position: relative;
			top: 20px;
			font-size: 50px;
			color: #f30;
			text-shadow: 4px 4px #fff;
		}
	}
	#player-names {
		.player-name {
			margin-top: 25px;
			height: 80px;
			color: yellow;
			text-shadow: 4px 4px #000;
			font-size: 30px;
		}
	}

	#fighters {
		position: relative;
		top: 300px;
		.hit {
			position: absolute;
			z-index: 20;
		}
		.fire {
			position: absolute;
			z-index: 30;
		}
		.player-box {
			.sprite {
				.standing {
					img {
						width: 300px
					}
				}
				.fighting {
					img {
						position: relative;
						top: 10px;
						width: 401px
					}
				}
			}
			&.player-1 {
				.sprite  {
					.standing {
						.head {
							position: absolute;
							z-index: 10;
							width: 248px;
					    top: -64px;
					    left: 42px;
						}
					}
					.fighting {
						.head {
							position: absolute;
							z-index: 10;
							width: 248px;
					    top: -64px;
					    left: 85px;
						}
						img.gif {
						width: 401px
						}
					}
				}
			}
			&.player-2 {
				position: relative;
				top: 10px;
				.sprite {
					.standing {
						.head {
							position: absolute;
							z-index: 10;
					    width: 248px;
					    top: -64px;
					    left: 284px;
						}
						img.gif {
							z-index: 5;
					    -moz-transform: scaleX(-1);
					    -o-transform: scaleX(-1);
					    -webkit-transform: scaleX(-1);
					    transform: scaleX(-1);
					    filter: FlipH;
					    -ms-filter: "FlipH";
						}
					}
					.fighting {
						.head {
							position: absolute;
							z-index: 10;
					    width: 248px;
					    top: -44px;
					    left: 284px;
						}
						img.gif {
							z-index: 5;
					    -moz-transform: scaleX(-1);
					    -o-transform: scaleX(-1);
					    -webkit-transform: scaleX(-1);
					    transform: scaleX(-1);
					    filter: FlipH;
					    -ms-filter: "FlipH";
						}
					}
				}
			}
		}
	}


	#battle-preview-box {
		margin-top: 150px;
		.vs-sign {
			position: relative;
			top: 190px;
			font-size: 48px;
			color: #fff;
		}
		.name {
			margin-top: 20px;
			padding: 10px;
			color: yellow;
			font-size: 30px;
			text-align: center;
		}
		.stats {
			margin-top: 20px;
			.stat-label {
				color: #fff;
				font-size: 12px;
			}
		}
	}
}

.bounce {
	animation: bounce 0.7s infinite;
	-webkit-animation: bounce 0.7s infinite;
	-moz-animation: bounce 0.7s infinite;
	-o-animation: bounce 0.7s infinite;
}
@keyframes bounce {
  0% {transform: translateX(-10px);}
  40% {transform: translateX(-4px);}
  60% {transform: translateX(-10px);}
  80% {transform: translateX(-4px);}
  100% {transform: translateX(-10px);}
}


.bounce-2 {
	animation: bounce 0.6s infinite;
	-webkit-animation: bounce 0.6s infinite;
	-moz-animation: bounce 0.6s infinite;
	-o-animation: bounce 0.6s infinite;
}
@keyframes bounce-2 {
 0% {transform: translateX(-4px);}
 30% {transform: translateX(-10px);}
 50% {transform: translateX(-4px);}
 70% {transform: translateX(-10px);}
 100% {transform: translateX(-4px);}
}