body {
	background-color: #020044;
}
body#application-battle {
//	background: url(../img/backgrounds/background1.gif)  no-repeat;
//	background-size: 1525px 1080px;
	#battle-fight {
		width: 1466px;
		height: 1080px;
		background-size: cover;
		background-repeat: no-repeat;
		&.background-1 {
			background-image: url(../img/backgrounds/1.gif);
		}
		&.background-2 {
			background-image: url(../img/backgrounds/2.gif);
		}
		&.background-3 {
			background-image: url(../img/backgrounds/3.gif);
		}
		&.background-4 {
			background-image: url(../img/backgrounds/4.gif);
		}
		&.background-5 {
			background-image: url(../img/backgrounds/5.gif);
		}
		&.background-6 {
			background-image: url(../img/backgrounds/6.gif);
		}
	}
	#statusbars{
		width: 1200px;
		margin: 75px auto 0 auto;
	}
	#versus{
		width: 150px;
	}
	#versus img{
		width: 100px;
		height: 100px;
		position: relative;
		top: -30px;
	}
	.fighter-name{
		font-size: 18pt;
		color: #fff;
		text-shadow: 4px 4px #333;
	}
	.energy-bar{
		height: 50px;
		margin: auto;
		border: solid;
		background-color: #F00;
	}
	.energy-bar-block{
		background-color: #0F0;
		display: inline-block;
		margin-right: -15px;
		height: 44px;
		width: 94px;
	}
	#fight img{
		padding-top: 100px;
		display:block;
    margin:auto;
    visibility: hidden;
    animation-name: fightFade;
    animation-duration: 2s;
	}

	@keyframes fightFade {
		0%, 100%{
			opacity: 0;
	    	visibility: hidden;
		}
		50%{opacity: 1;
	    	visibility: visible;}
	}


	#battle-preview-box {
		margin-top: 150px;
		.vs-sign {
			position: relative;
			top: 190px;
			font-size: 48px;
			color: #fff;
		}
		.name {
			margin-top: 20px;
			padding: 10px;
			color: yellow;
			font-size: 30px;
			text-align: center;
		}
		.stats {
			margin-top: 20px;
			.stat-label {
				color: #fff;
				font-size: 12px;
			}
		}
	}
}