#score-table {
	width: 450px;
	height: 1080px;
	position: absolute;
	background-color: #111;
	color: #eee;
	padding: 10px;
	table{
		border-collapse: separate;
	  border-spacing: 25px 0;
		width: 100%;
	}
	table th{
		padding: 40px 0px 20px;
		font-size: 10px;
		color: #666;
	}
	table tr.highlight td {
		color: yellow;
	}

	table td{
		padding: 22px 0px;
		font-size: 11px;
		&.name {
		  text-align: left;
		}
		&.percentage {
			text-align: right;
		}
		&.win {
			text-align: right;
		}
		&.loss {
			text-align: right;
		}
	}
}

