#score-table {
	width: 450px;
	height: 1080px;
	position: absolute;
	background-color: #111;
	color: #eee;
	padding: 0 10px 10px;
	.number-1 {
		padding: 25px 50px 0 50px;
		img.medal {
			position: absolute;
			right: 60px;
			width: 100px;
		}
		img.profile {
			border: 5px solid yellow;
		}
	}
	.di-logo {
		background-color: #222;
		width: 100%;
		padding: 15px 0 15px 50px;
		.di-icon {
			float: left;
			width: 80px;
		}
		.di-title{
			top: 5px;
			position: relative;
			padding-left: 10px;
			float: left;
		}
	}

	table{
		border-collapse: separate;
	  border-spacing: 25px 0;
		width: 100%;
	}
	table th{
		padding: 40px 0px 20px;
		font-size: 10px;
		color: #666;
	}
	table tr.highlight td {
		color: yellow;
	}

	table td{
		padding: 18px 0px;
		font-size: 11px;
		&.rank {
			position: relative;
			.medals {
				top:  7px;
				position: absolute;
			  display: block;
			  max-width:35px;
			  max-height:35px;
			  width: auto;
			  height: auto;
			}
		}
		&.name {
		  text-align: left;
		}
		&.percentage {
			text-align: right;
		}
		&.win {
			text-align: right;
		}
		&.loss {
			text-align: right;
		}
	}
	#diLogo{
		float: left;
		margin-left: 30px;
		width:75px;
		height:75px;
	}
}
