@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
body {
  font-family: "Press Start 2P"; }

body#application-battle #statusbars {
  width: 1200px;
  margin: 75px auto 0 auto; }
body#application-battle #versus {
  width: 150px; }
body#application-battle #versus img {
  width: 100px;
  height: 100px;
  position: relative;
  top: -30px; }
body#application-battle .fighter-name {
  font-size: 18pt;
  color: #fff;
  text-shadow: 4px 4px #333; }
body#application-battle .energy-bar {
  height: 50px;
  margin: auto;
  border: solid;
  background-color: #F00; }
body#application-battle .energy-bar-block {
  background-color: #0F0;
  display: inline-block;
  margin-right: -15px;
  height: 44px;
  width: 94px; }
body#application-battle #fight img {
  padding-top: 100px;
  display: block;
  margin: auto;
  visibility: hidden;
  animation-name: fightFade;
  animation-duration: 2s; }
@keyframes fightFade {
  0%, 100% {
    opacity: 0;
    visibility: hidden; }
  50% {
    opacity: 1;
    visibility: visible; } }
body#application-score {
  background-color: #333;
  color: #FFF;
  padding: 10px; }
  body#application-score table {
    border-collapse: separate;
    border-spacing: 25px 0;
    width: 100%; }
  body#application-score table th {
    padding: 5px 5px 5px 5px;
    font-size: 10px;
    color: yellow; }
  body#application-score table td {
    padding: 8px 5px;
    font-size: 11px; }
    body#application-score table td.name {
      text-align: left; }
    body#application-score table td.percentage {
      text-align: right; }
    body#application-score table td.win {
      text-align: right; }
    body#application-score table td.loss {
      text-align: right; }
