@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
body {
  font-family: "Press Start 2P"; }

body {
  background-color: #020044;
  color: #fff; }

body#application-battle #battle-wrapper {
  width: 1585px;
  height: 1100px;
  position: absolute;
  left: 450px; }
body#application-battle #battle-fight {
  height: 1100px;
  background-size: cover;
  background-repeat: no-repeat; }
  body#application-battle #battle-fight.background-1 {
    background-image: url(../img/backgrounds/1.gif); }
  body#application-battle #battle-fight.background-2 {
    background-image: url(../img/backgrounds/2.gif); }
  body#application-battle #battle-fight.background-3 {
    background-image: url(../img/backgrounds/3.gif); }
  body#application-battle #battle-fight.background-4 {
    background-image: url(../img/backgrounds/4.gif); }
  body#application-battle #battle-fight.background-5 {
    background-image: url(../img/backgrounds/5.gif); }
  body#application-battle #battle-fight.background-6 {
    background-image: url(../img/backgrounds/6.gif); }
  body#application-battle #battle-fight.background-7 {
    background-image: url(../img/backgrounds/7.gif); }
  body#application-battle #battle-fight.background-8 {
    background-image: url(../img/backgrounds/8.gif); }
  body#application-battle #battle-fight.background-9 {
    background-image: url(../img/backgrounds/9.gif); }
  body#application-battle #battle-fight.background-10 {
    background-image: url(../img/backgrounds/10.gif); }
  body#application-battle #battle-fight.background-11 {
    background-image: url(../img/backgrounds/11.gif); }
  body#application-battle #battle-fight.background-12 {
    background-image: url(../img/backgrounds/12.gif); }
  body#application-battle #battle-fight.background-13 {
    background-image: url(../img/backgrounds/13.gif); }
  body#application-battle #battle-fight.background-14 {
    background-image: url(../img/backgrounds/14.gif); }
  body#application-battle #battle-fight.background-15 {
    background-image: url(../img/backgrounds/15.gif); }
  body#application-battle #battle-fight.background-16 {
    background-image: url(../img/backgrounds/16.gif); }
  body#application-battle #battle-fight.background-17 {
    background-image: url(../img/backgrounds/17.gif); }
  body#application-battle #battle-fight.background-18 {
    background-image: url(../img/backgrounds/18.gif); }
  body#application-battle #battle-fight.background-19 {
    background-image: url(../img/backgrounds/19.gif); }
  body#application-battle #battle-fight.background-20 {
    background-image: url(../img/backgrounds/20.gif); }
  body#application-battle #battle-fight.background-21 {
    background-image: url(../img/backgrounds/21.gif); }
  body#application-battle #battle-fight.background-22 {
    background-image: url(../img/backgrounds/22.gif); }
body#application-battle #statusbars {
  width: 1200px;
  margin: 75px auto 0 auto; }
body#application-battle #versus {
  width: 150px; }
body#application-battle #versus img {
  width: 100px;
  height: 100px;
  position: relative;
  top: -30px; }
body#application-battle .fighter-name {
  font-size: 18pt;
  color: #fff;
  text-shadow: 4px 4px #333; }
body#application-battle .energy-bar {
  height: 50px;
  margin: auto;
  border: solid;
  background-color: #F00; }
body#application-battle .energy-bar-block {
  background-color: #0F0;
  display: inline-block;
  margin-right: -15px;
  height: 44px;
  width: 94px; }
body#application-battle #fight img {
  padding-top: 100px;
  display: block;
  margin: auto;
  visibility: hidden;
  animation-name: fightFade;
  animation-duration: 2s; }
@keyframes fightFade {
  0%, 100% {
    opacity: 0;
    visibility: hidden; }
  50% {
    opacity: 1;
    visibility: visible; } }
body#application-battle #subject {
  height: 300px; }
  body#application-battle #subject .round {
    position: relative;
    top: 100px; }
    body#application-battle #subject .round .round-number {
      font-size: 30px;
      color: #f30;
      text-shadow: 4px 4px #fff; }
    body#application-battle #subject .round .subject-title {
      position: relative;
      top: 20px;
      font-size: 50px;
      color: #f30;
      text-shadow: 4px 4px #fff; }
  body#application-battle #subject .winner-name {
    position: relative;
    top: 20px;
    font-size: 50px;
    color: #f30;
    text-shadow: 4px 4px #fff; }
  body#application-battle #subject .winner-perfect {
    top: 50px;
    font-size: 40px;
    color: #f30;
    text-shadow: 4px 4px #fff;
    position: relative; }
body#application-battle #player-names .player-name {
  margin-top: 35px;
  height: 45px;
  color: yellow;
  text-shadow: 4px 4px #000;
  font-size: 30px; }
body#application-battle #player-names .trophy {
  height: 65px;
  position: relative;
  margin-top: 0px; }
  body#application-battle #player-names .trophy img {
    width: 45px; }
body#application-battle #player-names .player_1 .trophy img {
  margin-right: 10px; }
body#application-battle #player-names .player_2 .trophy {
  float: right; }
  body#application-battle #player-names .player_2 .trophy img {
    margin-left: 10px; }
body#application-battle .player-profile-1 {
  position: absolute;
  width: 100px;
  top: 30px;
  left: 30px;
  border: 7px solid yellow; }
body#application-battle .player-profile-2 {
  position: absolute;
  width: 100px;
  top: 30px;
  right: 30px;
  border: 7px solid yellow; }
body#application-battle #fighters {
  position: relative;
  top: 150px; }
  body#application-battle #fighters .hit {
    position: absolute;
    z-index: 20; }
  body#application-battle #fighters .fire {
    position: absolute;
    z-index: 30; }
  body#application-battle #fighters .player-box .sprite {
    z-index: 15; }
    body#application-battle #fighters .player-box .sprite .sprite-gif {
      z-index: 5;
      position: absolute; }
    body#application-battle #fighters .player-box .sprite .head {
      position: relative;
      z-index: 10;
      width: 250px; }
    body#application-battle #fighters .player-box .sprite .fire img {
      width: 300px; }
    body#application-battle #fighters .player-box .sprite.char-1 .standing .head {
      top: 0; }
    body#application-battle #fighters .player-box .sprite.char-1 .standing .sprite-gif {
      width: 320px;
      top: 60px; }
    body#application-battle #fighters .player-box .sprite.char-1 .fighting .head {
      top: 10px; }
    body#application-battle #fighters .player-box .sprite.char-1 .fighting .sprite-gif {
      width: 360px;
      top: 100px; }
    body#application-battle #fighters .player-box .sprite.char-2 .standing .head {
      top: 0; }
    body#application-battle #fighters .player-box .sprite.char-2 .standing .sprite-gif {
      width: 320px;
      top: 60px; }
    body#application-battle #fighters .player-box .sprite.char-2 .fighting .head {
      top: 18px; }
    body#application-battle #fighters .player-box .sprite.char-2 .fighting .sprite-gif {
      width: 360px;
      top: 100px; }
    body#application-battle #fighters .player-box .sprite.char-3 .standing .head {
      top: 0; }
    body#application-battle #fighters .player-box .sprite.char-3 .standing .sprite-gif {
      width: 320px;
      top: 50px; }
    body#application-battle #fighters .player-box .sprite.char-3 .fighting .head {
      top: 18px; }
    body#application-battle #fighters .player-box .sprite.char-3 .fighting .sprite-gif {
      width: 300px;
      top: 55px; }
    body#application-battle #fighters .player-box .sprite.char-4 .standing .head {
      top: 0; }
    body#application-battle #fighters .player-box .sprite.char-4 .standing .sprite-gif {
      width: 350px;
      top: 60px; }
    body#application-battle #fighters .player-box .sprite.char-4 .fighting .head {
      top: 18px; }
    body#application-battle #fighters .player-box .sprite.char-4 .fighting .sprite-gif {
      width: 350px;
      top: 5px; }
    body#application-battle #fighters .player-box .sprite.char-5 .standing .head {
      top: 0; }
    body#application-battle #fighters .player-box .sprite.char-5 .standing .sprite-gif {
      width: 400px;
      top: 50px; }
    body#application-battle #fighters .player-box .sprite.char-5 .fighting .head {
      top: 0px; }
    body#application-battle #fighters .player-box .sprite.char-5 .fighting .sprite-gif {
      width: 400px;
      top: 22px; }
    body#application-battle #fighters .player-box .sprite.char-6 .standing .head {
      top: 50px; }
    body#application-battle #fighters .player-box .sprite.char-6 .standing .sprite-gif {
      width: 265px;
      top: 117px; }
    body#application-battle #fighters .player-box .sprite.char-6 .fighting .head {
      top: 50px; }
    body#application-battle #fighters .player-box .sprite.char-6 .fighting .sprite-gif {
      width: 245px;
      top: 117px; }
  body#application-battle #fighters .player-box.player-1 .char-1 .standing .head {
    left: 0px; }
  body#application-battle #fighters .player-box.player-1 .char-1 .standing .sprite-gif {
    left: 0; }
  body#application-battle #fighters .player-box.player-1 .char-1 .fighting .head {
    left: 0; }
  body#application-battle #fighters .player-box.player-1 .char-1 .fighting .sprite-gif {
    left: -30px; }
  body#application-battle #fighters .player-box.player-1 .char-2 .standing .head {
    left: 15px; }
  body#application-battle #fighters .player-box.player-1 .char-2 .standing .sprite-gif {
    left: 0; }
  body#application-battle #fighters .player-box.player-1 .char-2 .fighting .head {
    left: 0; }
  body#application-battle #fighters .player-box.player-1 .char-2 .fighting .sprite-gif {
    left: 0px; }
  body#application-battle #fighters .player-box.player-1 .char-3 .standing .head {
    left: 15px; }
  body#application-battle #fighters .player-box.player-1 .char-3 .standing .sprite-gif {
    left: -20px; }
  body#application-battle #fighters .player-box.player-1 .char-3 .fighting .head {
    left: 0; }
  body#application-battle #fighters .player-box.player-1 .char-3 .fighting .sprite-gif {
    left: 0px; }
  body#application-battle #fighters .player-box.player-1 .char-4 .standing .head {
    left: 0; }
  body#application-battle #fighters .player-box.player-1 .char-4 .standing .sprite-gif {
    left: -20px; }
  body#application-battle #fighters .player-box.player-1 .char-4 .fighting .head {
    left: 0; }
  body#application-battle #fighters .player-box.player-1 .char-4 .fighting .sprite-gif {
    left: -20px; }
  body#application-battle #fighters .player-box.player-1 .char-5 .standing .head {
    left: 0; }
  body#application-battle #fighters .player-box.player-1 .char-5 .standing .sprite-gif {
    left: -50px; }
  body#application-battle #fighters .player-box.player-1 .char-5 .fighting .head {
    left: 0; }
  body#application-battle #fighters .player-box.player-1 .char-5 .fighting .sprite-gif {
    left: -20px; }
  body#application-battle #fighters .player-box.player-1 .char-6 .standing .head {
    left: 0; }
  body#application-battle #fighters .player-box.player-1 .char-6 .standing .sprite-gif {
    left: 20px; }
  body#application-battle #fighters .player-box.player-1 .char-6 .fighting .head {
    left: 0; }
  body#application-battle #fighters .player-box.player-1 .char-6 .fighting .sprite-gif {
    left: 20px; }
  body#application-battle #fighters .player-box.player-2 .flipX {
    position: relative;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }
  body#application-battle #fighters .player-box.player-2 .char-1 .standing .head {
    right: 25px; }
  body#application-battle #fighters .player-box.player-2 .char-1 .standing .sprite-gif {
    right: -10px; }
  body#application-battle #fighters .player-box.player-2 .char-1 .fighting .head {
    right: 0; }
  body#application-battle #fighters .player-box.player-2 .char-1 .fighting .sprite-gif {
    right: -55px; }
  body#application-battle #fighters .player-box.player-2 .char-2 .standing .head {
    right: 25px; }
  body#application-battle #fighters .player-box.player-2 .char-2 .standing .sprite-gif {
    right: -10px; }
  body#application-battle #fighters .player-box.player-2 .char-2 .fighting .head {
    right: 0; }
  body#application-battle #fighters .player-box.player-2 .char-2 .fighting .sprite-gif {
    right: -85px; }
  body#application-battle #fighters .player-box.player-2 .char-3 .standing .head {
    right: 25px; }
  body#application-battle #fighters .player-box.player-2 .char-3 .standing .sprite-gif {
    right: 0px; }
  body#application-battle #fighters .player-box.player-2 .char-3 .fighting .head {
    right: 0; }
  body#application-battle #fighters .player-box.player-2 .char-3 .fighting .sprite-gif {
    right: -30px; }
  body#application-battle #fighters .player-box.player-2 .char-4 .standing .head {
    right: 25px; }
  body#application-battle #fighters .player-box.player-2 .char-4 .standing .sprite-gif {
    right: -40px; }
  body#application-battle #fighters .player-box.player-2 .char-4 .fighting .head {
    right: 0; }
  body#application-battle #fighters .player-box.player-2 .char-4 .fighting .sprite-gif {
    right: -50px; }
  body#application-battle #fighters .player-box.player-2 .char-5 .standing .head {
    right: 25px; }
  body#application-battle #fighters .player-box.player-2 .char-5 .standing .sprite-gif {
    right: -64px; }
  body#application-battle #fighters .player-box.player-2 .char-5 .fighting .head {
    right: 0; }
  body#application-battle #fighters .player-box.player-2 .char-5 .fighting .sprite-gif {
    right: -100px; }
  body#application-battle #fighters .player-box.player-2 .char-6 .standing .head {
    right: 0; }
  body#application-battle #fighters .player-box.player-2 .char-6 .standing .sprite-gif {
    right: 9px; }
  body#application-battle #fighters .player-box.player-2 .char-6 .fighting .head {
    right: 0; }
  body#application-battle #fighters .player-box.player-2 .char-6 .fighting .sprite-gif {
    right: 20px; }
body#application-battle #battle-preview-box {
  margin-top: 100px; }
  body#application-battle #battle-preview-box .vs-sign {
    position: relative;
    top: 190px;
    font-size: 48px;
    color: #fff; }
  body#application-battle #battle-preview-box .name {
    margin-top: 20px;
    padding: 10px;
    color: yellow;
    font-size: 24px;
    text-align: center; }
  body#application-battle #battle-preview-box .stats {
    margin-top: 20px; }
    body#application-battle #battle-preview-box .stats .stat-label {
      color: #fff;
      font-size: 11px; }
body#application-battle #battle-winner-info {
  margin-top: 60px; }
  body#application-battle #battle-winner-info .winner {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: yellow;
    font-size: 30px;
    text-align: center; }
  body#application-battle #battle-winner-info .name {
    margin-top: 20px;
    padding: 10px;
    color: yellow;
    font-size: 30px;
    text-align: center; }
  body#application-battle #battle-winner-info .records {
    margin-top: 20px; }
  body#application-battle #battle-winner-info .quote {
    margin-top: 50px;
    color: #fff;
    font-size: 30px;
    animation: type 4s steps(60, end);
    line-height: 1.8em; }

.bounce {
  animation: bounce 0.7s infinite;
  -webkit-animation: bounce 0.7s infinite;
  -moz-animation: bounce 0.7s infinite;
  -o-animation: bounce 0.7s infinite; }

@keyframes bounce {
  0% {
    transform: translateX(-10px); }
  40% {
    transform: translateX(-4px); }
  60% {
    transform: translateX(-10px); }
  80% {
    transform: translateX(-4px); }
  100% {
    transform: translateX(-10px); } }
.bounce-2 {
  animation: bounce 0.6s infinite;
  -webkit-animation: bounce 0.6s infinite;
  -moz-animation: bounce 0.6s infinite;
  -o-animation: bounce 0.6s infinite; }

@keyframes bounce-2 {
  0% {
    transform: translateX(-4px); }
  30% {
    transform: translateX(-10px); }
  50% {
    transform: translateX(-4px); }
  70% {
    transform: translateX(-10px); }
  100% {
    transform: translateX(-4px); } }
.blink_me {
  animation: blinker 1s linear infinite;
  color: yellow; }

@keyframes blinker {
  50% {
    opacity: 0.0; } }
#score-table {
  width: 450px;
  height: 1180px;
  position: absolute;
  background-color: #111;
  color: #eee;
  padding: 0 10px 10px; }
  #score-table .number-1 {
    padding: 25px 50px 0 50px; }
    #score-table .number-1 img.medal {
      position: absolute;
      right: 60px;
      width: 100px; }
    #score-table .number-1 img.profile {
      border: 5px solid yellow; }
  #score-table .di-logo {
    background-color: #222;
    width: 100%;
    padding: 15px 0 15px 50px; }
    #score-table .di-logo .di-icon {
      float: left;
      width: 80px; }
    #score-table .di-logo .di-title {
      top: 5px;
      position: relative;
      padding-left: 10px;
      float: left; }
  #score-table table {
    border-collapse: separate;
    border-spacing: 25px 0;
    width: 100%; }
  #score-table table th {
    padding: 40px 0px 20px;
    font-size: 10px;
    color: #666; }
  #score-table table tr.highlight td {
    color: yellow; }
  #score-table table td {
    padding: 17px 0px;
    font-size: 11px; }
    #score-table table td.rank {
      position: relative; }
      #score-table table td.rank .medals {
        top: 7px;
        position: absolute;
        display: block;
        max-width: 35px;
        max-height: 35px;
        width: auto;
        height: auto; }
    #score-table table td.name {
      text-align: left; }
    #score-table table td.percentage {
      text-align: right; }
    #score-table table td.win {
      text-align: right; }
    #score-table table td.loss {
      text-align: right; }
  #score-table #diLogo {
    float: left;
    margin-left: 30px;
    width: 75px;
    height: 75px; }
